<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} : ragan.io</title>
    <meta charset="UTF-8" />
    <meta name="author" contents="Dale Ragan" />
    <meta name="description" content="Personal site of Dale Ragan, in which he writes and shares his thoughts." />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div id="header">
      <div class="container group">
        <div id="site-title"><a href="/" id="ragan-io" title="ragan.io">ragan.io</a></div>
        <ul id="menu">
          <li><a href="/about.html" title="About Dale Ragan">about</a></li>
          <li><a href="http://github.com/dragan" title="Dale Ragan on Github">github</a></li>
          <li><a href="http://twitter.com/dwragan" title="Dale Ragan on Twitter">twitter</a></li>
        </ul>
      </div>
    </div>
    <div id="content" class="container">
      {{ content }}
    </div>
  </body>
</html>
