<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} : ragan.io</title>
    <meta charset="UTF-8" />
    <meta name="author" contents="Dale Ragan" />{% if page.description %}
    <meta name="description" content="{{ page.description }}" />{% endif %}
  </head>
  <body>
    <div id="header">
      <a href="/" id="ragan-io" title="ragan.io">ragan.io</a>
      <ul>
        <li><a href="http://github.com/dragan" title="Dale Ragan on Github">github</a></li>
        <li><a href="http://twitter.com/dwragan" title="Dale Ragan on Twitter">twitter</a></li>
      </ul>
    </div>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>
